{% extends 'frame.html' %}
{% block content %}

<style>
    :root {
        font-size: 20px;
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    p {
        margin: 0;
    }

    p:not(:last-child) {
        margin-bottom: 1.5em;
    }

    body {
        font: 1em/1.618 Inter, sans-serif;

        display: flex;
        align-items: center;
        justify-content: center;

        min-height: 100vh;
        padding: 30px;
        margin: 0;

        color: #224;
        background: url(https://source.unsplash.com/E8Ufcyxz514/2400x1823) center / cover no-repeat fixed;
    }

    .Content {
        width: 670px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.45);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(15px);
    }

    .card-body {
        padding: 65px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .form-inline .form-control {
        width: 90%;
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    .btn-primary:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }

    .response {
        margin-top: 30px;
    }

    .card-footer {
        font-size: 0.65em;
        color: #446;
    }
</style>

<div class="Content">
    <div class="card-body">
        <!-- Form for submitting symptoms -->
        <form class="form-inline" method="POST" action="{{ url_for('chat') }}">
            <div class="form-group">
                
                <label for="symptoms"><h1>Symptoms Facing</h1></label>
                <input name="symptoms" id="symptoms" placeholder="Enter Symptoms" type="text" class="form-control">
            </div>
            <button class="btn btn-primary ml-2">Submit</button>
        </form>

        <!-- Display the generated response -->
        {% if response %}
        <div class="response mt-3">
            <p><b>Department : {{ response }}</b></p>
            <!-- Button to redirect to Google Maps URL -->
            <a href="{{ google_maps_url }}" class="btn btn-primary">Find Nearby Doctors</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}
